@model TagExamples.Models.ExampleTemplate

@{
    ViewBag.Title = "Bootstrap 4 buttons example";
}

<h2>Bootstrap 5 buttons example</h2>
<hr />

@Html.DisplayFor(m => m)
<hr />
<div class="row">
    <div class="col">
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>